/*
COLORS:
background white – #f7f4ef
background blue – #07487e
text blue (darker) – #113662
*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; /* aligns the text vertically */
    
    background-color: #f7f4ef;

    padding-left: 20px;
    padding-right: 20px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

body {
    margin: 0px;
    background-color: #07487e;
    color: #113662;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif */
}

#title {
    margin-left: 10px;
    font-weight: 100;
    
    color: #113662;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.navbar {
    font-size: 1.0em;
    font-weight: bold;

    display: flex;

    margin-left: 5px;
    margin-right: 5px;
    padding: 20px;
    text-align: center;

    border-radius: 10px;

    color: #113662;

    /* Growing transition */
    transition: all .3s ease-in-out; 
}

.navbar:hover {
    background-color: #07487e;
    border-color: #113662;
    border-radius: 10px;
    color: #f7f4ef;

    /* Calling growing transition on hover */
    transform: scale(1.1);
}

.navbar:hover > a:hover {
    color: #f7f4ef;
}

.subheaders {
    text-align: center;
    color: #113662;
}

.sections {
    background-color:#f7f4ef;

    padding-top: 3%;
    padding-bottom: 5%;

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 14%;
    margin-right: 14%;
    /* border: 2px solid;
    border-color: #07487e; */
    border-radius: 10px;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#about {
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    
    /* margin-bottom: 5%; */
}

/* LINKS (includes nav headers): Might need to change to specific links */
a:link {
    /* color: #f7f4ef; */
    text-decoration: none;

}
a:visited {
    /* color: #f7f4ef; */
    text-decoration: none;
}

/* Profile picture */
#dp {
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;

    max-width: 300px;
    max-height: 300px;

    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.edu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
}

.school {
    display: flex;
    flex-direction: row;
    justify-content: left;

    align-items: center;
}

.schoolimg {
    /* display: block; */

    /* margin-left: auto;
    margin-right: auto; */
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 20%;
    margin-right: 5%;

    max-width: 300px;
    max-height: 300px;

    border-radius: 50%;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.schoolinfo {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}

.schoolname {
    margin-bottom: 0px;
}

.schooldegree {
    margin-top: 1.4em;
    margin-bottom: 1.3em;
}

/* Controls direction and positioning of the smaller school details */
.schooldetails {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.detail {
    background-color: #113662;
    color: #f7f4ef;

    margin-top: 0px;
    margin-left: 7px;
    margin-right: 14px;

    padding: 1.0em;

    border: 2px solid;
    border-radius: 50px;
    border-color: #113662;
}

footer {
    margin-left: 20px;
    margin-right: 20px;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}

.contactimg {
    display: inline;
    margin-left: auto;
    margin-right: auto;

    max-width:50px;
    max-height: 50px;

    transition: all .3s ease-in-out; 
}

.contactimg:hover {
    transform: scale(1.1);
}